.Topbar {
  width: 100vw;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFBE5;
  border-bottom: 3px solid #d6d3bf;
  font-family: 'Calibri';
  font-weight: bolder;
  font-size: 22px;
  margin: 0 0 20px 0;
}
@media (max-width: 500px){
  .Topbar{
    flex-direction: column;
    padding: 5px 0px;
  }
}